* {
    font-family: "Cascadia Code", monospace;
}

window#waybar {
	background: transparent; 
}

#custom-separatorLeft, #custom-separatorRight {
	font-size: 25px;
}

#clock.date {
  padding-left: 20px;
	color: #0D47A1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #EEEEEE;
  padding-left: 20px;
  padding-right: 10px;
}

#clock {

    background: #EEEEEE;
	color: #0D47A1;
	font-size: 14px;
}

#cpu {
	color: #eceff4;
    padding: 0 10px;
	font-size: 14px;
    background: #EEEEEE;
}

#memory {
	color: #eceff4;
    padding: 0 10px;
	font-size: 14px;
    background: #EEEEEE;
}

#pulseaudio {
    background: #EEEEEE;
	color: #FF6D00;
	padding-right: 10px;
	font-size: 14px;
}

#network {
	color: #eceff4;
    padding: 0 10px;
    background: #EEEEEE;
	font-size: 14px;
}

#workspaces {
	padding: 10px;
    background: #EEEEEE; 

}

#workspaces button {
	color: #311B92;
	transition: padding 0.2s;
	font-size: 14px;
	font-weight: 600;
    padding: 0 5px;
    margin-bottom: 2px;
	border-radius: 0px;
}

#workspaces button.active {

	color: black;
	border-radius: 60px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-weight: 900;
	background: linear-gradient(
  	135deg,
  	 #B2EBF2 0%,
  	#FFAB91 100%
);
}


#workspaces button.hidden {
	color: cyan;

}



#window {
	color: #1B5E20;
	font-size: 14px;
    background: #EEEEEE;
    padding-right: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 20px;
}

#mpris {
    background: #EEEEEE;
    padding-right: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
	color: #eceff4;
	font-size: 14px;
}
