* {
    font-family: "JetBrainsMono Nerd Font", monospace;
}

window#waybar {
	background: transparent;
}

#custom-separatorLeft, #custom-separatorRight {
	font-size: 20px;
}

#clock.date {
	color: #eceff4;
    background: rgb(46, 52, 54);
}

#clock {
    padding: 0 10px;
	color: #eceff4;
	font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#cpu {
	color: #eceff4;
    padding: 0 10px;
	font-size: 15px;
    background: rgb(46, 52, 54);
}

#memory {
	color: #eceff4;
    padding: 0 10px;
	font-size: 15px;
    background: rgb(46, 52, 54);
}

#pulseaudio {
	padding: 0 10px;
	font-size: 15px;
	color: #eceff4;
}

#network {
	color: #eceff4;
    padding: 0 10px;
    background: rgb(46, 52, 54);
	font-size: 15px;
}

#workspaces {
    background: rgb(46, 52, 54);
}

#workspaces button {
	color: #eceff4;
	font-size: 15px;
    padding: 0 5px;
    margin-bottom: 2px;
	border-radius: 0px;
}

#workspaces button.active {
	border-radius: 5px;
	border-bottom: 2px solid #d8dee9;
}

#workspaces button.hidden {
	color: cyan;

}



#window {
	font-size: 15px;
	color: #eceff4;

}

#mpris {
	color: #eceff4;
	font-size: 15px;
}
